.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* This is the code I added for this week's project. Everything below I created.
**  Everything above this comment was created by the create-react-app */

.navBar {
  width: 100vw;
  background-color:cornflowerblue;
  color: whitesmoke;
  font-size: 24px;
  padding: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-left: auto;
}

.navRow {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

nav ul li {
  list-style: none;
  margin-right: 1em;
}

nav ul li:hover {
  color: rgba(0, 0, 0, 0.705);
}

nav ul li:active {
  background-color: white;
}

.navTitle {
  text-align: left;
  color: blue;
  text-shadow: 3px;
  font-weight: bold;
  
}

.logInMain,
.logInH3 {
  border: black;
  border-style: double;
  border-width: 5px;
  border-radius: 8px;
  width: 50%;
  margin-top: 50px;
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.255)

}

#inUNameLbl,
#inUPwdLbl {
  font-weight: bold;
  padding-right: 8px;
}